body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
  background-color: #1F2937;
  padding: 0 100px;

}

/*first section*/


a {
text-decoration: none;
color: #e5e7eb;
  }

ul { 
  display: flex;
  list-style: none;
  margin: 0 7px;
  padding: 0;
  gap: 16px;
  size: 18px;
      }




.first {
  display: flex;
  gap: 16px;
  padding: 16px;
  padding-top: 75px;
  background-color: #1F2937;
  gap: 100px;
  align-items: center;
  padding: 75px 100px;
  padding-left: 400px;
  
}



.overhead {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.text {
  margin-bottom: 10px;
  color: #f9faf8; 
}

.sign {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

img {
  width: 300px;
  height: 300px;  
}
 
/*second section*/


.second {
  padding: 50px;
  text-align: center; 
}



.title {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 35px;
}


.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}



  .text {
    color: #1F2937;
    margin-top: 20px;
  }

  /*third section*/
  
  .third {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    text-align: center; 
    flex-direction: column;
  
    }
  

  .facts {
    font-size: 36px;
    align-items: center;
    justify-content: center;
    
    
  }

.quote {
  max-width: 900px;
  text-align: left;
  margin-left: 400px;
  font-weight: lighter;
  font-style:italic
}

.quotee {
  margin-top: 0px;
  margin-left: 600px;
}
  
 